[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
taskpaths = {editable = true, path = "."}

[dev-packages]
mypy = ">=0.910"
pre-commit = ">=2.16.0"
pytest = ">=6.0.0"
pytest-cov = ">=3.0.0"
pytest-mock = ">=3.6.1"
black = ">=21.12b0"
hypothesis = ">=6.31.6"
genbadge = {extras = ["all"], version = "*"}
coverage = "*"

[requires]
python_version = "3.10"
